.black {
	background-color: black;
	height: 50px;
	width: 50px;
}

#board {
	border: 1px solid black;
}

.white {
	height: 50px;
	width: 50px;	
}

.opponent-coin{
	background-color:grey;
	border-radius: 38px;
	height: 50px;
	width: 50px;
	border: solid 2px white;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	font-size: 28px;
}

.player-coin{
	background-color:red;
	border-radius: 38px;
	height: 50px; width: 50px;
	border: solid 2px white;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	font-size: 28px;
}

.selected{
	border: solid blue 2px;
}

.not-selected{
	border: none;
}