<!DOCTYPE html>
<html>
	<head>
		<title>Play Checkers</title>
		<link href=" {{ url_for("static", filename="style.css") }} " rel="stylesheet" ></link>
	</head>
	<body>
		<table id="board">
		</table><br>
		<span id="currentPlayer">Player</span><br>
		Move in progress: <span id="moveInProgress">false</span><br>
		Jumps present: <span id="jumpsPresent">false</span><br>
		Computer Move: <span id="compMove"></span><br>
		Computer Coin: <span id="coin"></span><br>
	<!-- <script
	  src="https://code.jquery.com/jquery-2.2.4.js"
	  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
	  crossorigin="anonymous"></script> -->
		<script type="text/javascript" src= " {{url_for("static", filename="jquery-2.2.4.js")}} "></script>
		<script type="text/javascript" src= " {{url_for("static", filename="checkers.js")}} "></script>
	</body>
</html>